
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <h3 style="text-align: center;font-weight: bolder;">To Download Forms Please Refer Below Link</h3>
    <div class="jumbotron">
      <div class="container">


       <table class="greyGridTable">
        <thead>
        <tr>
        <th>Form Name</th>
        <th>Link To Download</th>

        </tr>
        </thead>

        <tbody>
        <tr>
        <td>Death Claims
        </td>
        <td>
          <a href="http://www.licindia.in/getattachment/Bottom-Links/Download-Forms/FORM-NO-3783-Claim-Form_A.pdf.aspx">Download Form</a>
        </td>


        </tr>
        <tr>
        <td>Maturity Claims</td>

        <td> <a href="http://www.licindia.in/Bottom-Links/Download-Forms/form_no_3825">Download Form</a>
        </td>

        </tr>
        <tr>
        <td>Survival Benefit Claims forms</td>
        <td><a href="http://www.licindia.in/getattachment/Bottom-Links/Download-Forms/FORM_NO_5180-(1).pdf.aspx">Download Form</a></td>

        </tr>
        <tr>
        <td>Revival Forms</td>
        <td><a href="http://www.licindia.in/getattachment/Bottom-Links/Download-Forms/FORM-NO-680.pdf.aspx">Download Form</a></td>

        </tr>
        </tbody>
        </table>
      </div>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
