
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <title>Title Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="card-header" style="background-color: rgb(221, 217, 214)">
      <div style="text-align: center;">
        <h1 class="logo-caption" style="font-size: 20px;color: brown;box-shadow: silver 1px 1px 10px;background-color: honeydew;"><span class="tweak" style="font-weight: bolder;font-size: 50px;color: black;text-shadow: silver 1px 1px 10px;">LIC</span><br> CLIA's PORTAL</h1>
      </div>
     </div>

     <div class="navbar" style="background-color: honeydew;box-shadow: lightgray 1px 1px 10px;">
       <a class="navbar-brand" routerLink="/home" style="font-weight: bolder;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
       <ul class="nav navbar-nav">
         <li class="active">
           <a routerLink="/contact-us"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Contact-Us</a>
         </li>
         <li class="">
           <a routerLink="/request-meet"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Meet Request</a>
         </li>
       </ul>

       <ul class="nav navbar-right" style="font-weight: bold;font-family: 'Times New Roman', Times, serif;font-size: 19px;">
          <li class="active">
            <a routerLink="/agent-login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Agent-login</a>
          </li>
       </ul>

      <ul class="nav navbar-right" style="font-weight: bold;font-family: 'Times New Roman', Times, serif;font-size: 19px;">
        <li class="active">
          <a routerLink="/agent-login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Customer-login</a>
        </li>
      </ul>

      <ul class="nav navbar-right" style="font-weight: bold;font-family: 'Times New Roman', Times, serif;font-size: 19px;">
        <li class="active">
          <a routerLink="/clia-login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> CLIA-login</a>
        </li>
      </ul>

     </div>

     <div *ngIf="service.isCLIA()">
          <h3>CLIA Id :{{user.cliaId}}</h3>

          <!-- for clia -->
          <div class="navbar" style="background-color: honeydew;box-shadow: lightgray 1px 1px 10px;">
            <a class="navbar-brand" routerLink="/home"><span class="glyphicon glyphicon-" aria-hidden="true"></span> My-Details</a>
            <ul class="nav navbar-nav">
              <li class="active">
                <a routerLink="/contact-us"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Contact-Us</a>
              </li>
              <li class="">
                <a routerLink="/request-meet"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Meet Request</a>
              </li>
            </ul>

            <ul class="nav navbar-right" style="font-weight: bolder;font-family: 'Times New Roman', Times, serif;font-size: 20px;">

              <button type="button" (click)=logOut() class="btn btn-lg btn-danger">Logout</button>

            </ul>
          </div>
     </div>

<!--AGENT's navbar  -->
     <div *ngIf="service.isAgent()">
          <h1>{{user.agentId}}</h1>
     </div>

     <div *ngIf="service.isCustomer()">
          <h1>{{user.custId}}</h1>
     </div>


<div class="container-fluid">
  <router-outlet></router-outlet>

</div>



<div class="panel uk-panel-box-secondary-hover" style="margin-top:33em;box-shadow: black 1px 2px 2px;text-align: right;">
    <div class="panel-footer">
        <h5>@ LIC CLIA Portal</h5>
    </div>
</div>

<footer class="footer mt-auto py-5">
  <div class="container">
    <span class="glyphicon glyphicon-book " style="text-align: center; font-weight: 700;color: blue;"> Zindagi Ke Sath Bhi Zindagi Ke Bad Bhi</span>
  </div>
</footer>
    <!-- jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Bootstrap JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
