
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <!--show policies  -->
      <span class="label label-info" style="font-size: 25px;margin-left: 550px;">Policy Details</span>
      <hr>
          <div class="container">

            <div class="table-responsive">
              <table class="table table-hover table-dark" style="text-align: center;">
                <thead>
                  <tr>
                    <th>Policy Number</th>
                    <th>Plan No</th>
                    <th>dateOfCommencement</th>
                    <th>dateOfMaturity</th>
                    <th>premiumAmount</th>
                    <th>premiumType</th>
                    <th>sumAssured</th>
                    <th>policyStatus</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let policy of policies'>
                    <td>{{policy.policyNumber}}</td>
                    <td>{{policy.planNo}}</td>
                    <td>{{policy.dateOfCommencement}}</td>
                    <td>{{policy.dateOfMaturity}}</td>
                    <td>{{policy.premiumAmount}}</td>
                    <td>{{policy.premiumType}}</td>
                    <td>{{policy.sumAssured}}</td>
                    <td style="text-decoration: wavy;color: red;">{{policy.policyStatus}}</td>
                    <td>
                      <ul class="nav navbar-brand" style="font-weight: bolder;font-family: 'Times New Roman', Times, serif;font-size: 15px;">
                        <li class="active"><a routerLink="/policies/{{policies.policyNumber}}" >Show Details</a></li>
                    </ul>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
