
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-dark">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/home">Home</a></li>
        </ul>
        <ul class="nav navbar-dark">
          <li class="active"><a routerLink="/contact-us">Contact Us</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-toggler">
          <li class="dropdown">
            <a routerLink="/home" class="dropdown" data-toggle="dropdown">Login <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/clia-login">CLIA Login</a></li>
              <li><a routerLink="/agent-login">Agent Login</a></li>
              <li><a routerLink="/customer-login">Customer Login</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>


<!-- gallery -->
<div style="height: 200px;">
  <div class="card">
    <img src="/assets/32248.jpg" alt="John" style="width:100%">
    <h1>Mr.Sanket Benade</h1>
    <p class="title">AGENT</p>
    <p>CLUB MEMBER</p>
    <div style="margin: 10px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a>&nbsp;
      <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
      <a href="#"><i class="fa fa-linkedin"></i></a>&nbsp;
      <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
    </div>
    <p><button>+91-777-597-2612</button></p>
  </div>
</div>
<!-- END GRID -->





    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
