
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


  </head>
  <body>

    <h1 class="text-center">Our Team</h1>
 <!-- gallery -->
 <div style="height: 200px;">
  <div class="card">
    <img src="/assets/32248.jpg" alt="John" style="width:100%">
    <h1>Mr.Sanket Benade</h1>
    <p class="title">AGENT</p>
    <p>CLUB MEMBER</p>
    <div style="margin: 10px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a>&nbsp;
      <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;
      <a href="#"><i class="fa fa-linkedin"></i></a>&nbsp;
      <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;
    </div>
    <p><button>+91-777-597-2612</button></p>
  </div>
</div>
<!-- END GRID -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
